{%- liquid
	assign total_savings = 0

	# 1. Économies liées au compare_at_price (réductions sur les line items)
	for item in cart.items
		assign compare_price = item.variant.compare_at_price
		if compare_price == blank
			assign compare_price = item.original_line_price
		else
			assign compare_price = compare_price | times: item.quantity
		endif

		# Pour les packs, le compare_at_price est stocké dans une propriété
		if item.properties._bundle_items_compare_at_price != blank
			assign compare_price_array = item.properties._bundle_items_compare_at_price | split: ':'
			assign compare_price_sum = 0
			for price in compare_price_array
				assign price_num = price | plus: 0
				assign compare_price_sum = compare_price_sum | plus: price_num
			endfor
			assign compare_price = compare_price_sum | times: item.quantity
		endif

		if compare_price > item.final_line_price
			assign item_saving = compare_price | minus: item.final_line_price
			assign total_savings = total_savings | plus: item_saving
		endif
	endfor

	# 2. Économies liées aux discount codes (cart level uniquement)
	# Les discount codes line level sont déjà inclus dans final_line_price
	for discount_app in cart.cart_level_discount_applications
		if discount_app.type == 'discount_code'
			assign total_savings = total_savings | plus: discount_app.total_allocated_amount
		endif
	endfor

	assign total_savings_formatted = total_savings | money_without_trailing_zeros
-%}

{%- if total_savings > 0 -%}
	<div class="drawer__footer-total-savings">
		<div class="drawer__footer-total-savings__icon">
			{{ 'icon-multiple-star.svg' | inline_asset_content }}
		</div>
		<div class="drawer__footer-total-savings__label">
			{{ 'sections.cart.total_savings_html' | t: savings_amount: total_savings_formatted }}
		</div>
	</div>
{%- endif -%}
