{% style %}
	.cart-empty-on-template-cart {
		display: block !important;
		min-height: 40vh;
		height: 40vh;
	}
{% endstyle %}

<div class="cart-empty-on-template-cart"></div>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    
  ]
}
{% endschema %}
